body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-color: hsl(240, 78%, 98%);
  font-weight: 700;
}

h1 {
  color: hsl(232, 13%, 33%);
}

hr {
  width: 75%;
  text-align: center;
  margin-left: 10;
}

span {
  font-size: 25px;
  margin-top: 15px;
}

.pricingContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plansContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.plansDetails {
  color: hsl(232, 13%, 33%);
  background: hsl(240, 78%, 98%);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px hsl(234, 14%, 74%);
}

button {
  width: 80%;
  border-radius: 10px;
}

#plansDetails2 {
  background: linear-Gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transform: scale(1.1);
  color: hsl(240, 78%, 98%);
}

#plansDetails2 p {
  color: hsl(240, 78%, 98%);
}

button:hover {
  color: hsl(237, 63%, 64%);
  background: hsl(240, 78%, 98%);
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-bottom: 30px;
  color: gray;
  font-size: 1rem;
}
p {
  color: hsl(233, 13%, 49%);
  text-align: center;
}

button {
  color: hsl(240, 78%, 98%);
  cursor: pointer;
  border: none;
  background: linear-Gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 10px;
}

.price {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: hsl(232, 13%, 33%);
}

#toggle {
  display: none;
}

#toggleLable {
  cursor: pointer;
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  margin: 10px;
  background: linear-Gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 20px;
}

#toggleLable::before {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: hsl(240, 78%, 98%);
  border-radius: 50%;
  transition: left 300ms linear;
}

#toggle:checked + #toggleLable:before {
  left: 30px;
}
